{% extends 'chairs_app/base.html' %}
{% block title %}Create Subject{% endblock %}
{% block body %}
<section class="container pt-5 pb-0">
    <h1 class="mb-0">Create Subject</h1>
</section>
<section class="container py-5">
    <form method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name…" maxlength="255"
                required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Code</label>
            <input type="text" class="form-control" id="code" name="code" placeholder="Code…" maxlength="255"
                required>
        </div>
        <div class="mb-3">
            <label for="Department" class="form-label">Department</label>
            <select name="department" id="department" name="department" class="form-select">
                <option value="">None</option>
                {% for department_ in departments %}
                <option value="{{department.uuid}}" {% if department and department == department_ %} selected {% endif %}>{{department_}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mt-4">
            {% csrf_token %}
            <input type="submit" value="Create" class="btn btn-primary">
        </div>
    </form>
</section>
{% endblock %}