{% extends 'chairs_app/base.html' %}
{% block title %}Create Term{% endblock %}
{% block body %}
<section class="container pt-5 pb-0">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'list_periods' %}">Periods</a></li>
            <li class="breadcrumb-item">{{year}}</li>
            <li class="breadcrumb-item active" aria-current="page">Create Term</li>
        </ol>
    </nav>
    <h1 class="mb-0">Create Term</h1>
</section>
<section class="container py-5">
    <form method="POST">
        <div class="row mb-3">
            <div class="col-6">
                <label for="start" class="form-label">Start</label>
                <input class="form-control" type="date" name="start" id="start" placeholder="Start…" required>
            </div>
            <div class="col-6">
                <label for="end" class="form-label">End</label>
                <input class="form-control" type="date" name="end" id="end" placeholder="End…" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="term_name" class="form-label">Title</label>
            <select class="form-select" name="term_name" id="term_name">
                {% for term_name in term_names %}
                <option value="{{term_name}}">{{term_name.name|title}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mt-4">
            {% csrf_token %}
            <input type="submit" value="Create" class="btn btn-primary">
        </div>
    </form>
</section>
{% endblock %}