{% extends 'chairs_app/base.html' %}
{% block title %}Create Semester{% endblock %}
{% block body %}
<section class="container py-5">
    <div class="mb-3">
        <h1 class="mb-0">Create Semester</h1>
    </div>
    <div>
        <form method="POST">
            <div class="mb-3">
                <label for="year" class="form-label">Year</label>
                <input type="number" class="form-control" id="year" value="{{now}}" name="year">
            </div>
            <div class="mb-3">
                <label for="term" class="form-label">Term</label>
                <select id="term" class="form-select" name="term">
                    <option value="1">Interterm</option>
                    <option value="2">Spring</option>
                    <option value="3">Summer</option>
                    <option value="4">Fall</option>
                </select>
            </div>
            <div class="mt-4">
                {% csrf_token %}
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </form>
    </div>
</section>
{% endblock %}