{% extends 'chairs_app/base.html' %}
{% block title %}{{semester}}{% endblock %}
{% block body %}
<section class="container pt-5 pb-0">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'list_semesters' %}">Semesters</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{semester}}</li>
        </ol>
    </nav>
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <div class="mb-2">
            <h1 class="mb-2">{{semester}}</h1>
            <div class="mb-2">{{semester.start|date:"F j"}} &ndash; {{semester.end|date:"F j"}}</div>
        </div>
        <div class="d-flex gap-2">
            <a href="{% url 'copy_to_semester' semester.uuid %}" class="btn btn-light"><i
                    class="bi bi-upload me-2"></i>Copy to</a>
            <form action="{% url 'delete_semester' semester.uuid %}" method="POST"
                data-confirm="Are you sure you want to delete {{semester}}? This cannot be undone.">
                {% csrf_token %}
                <button type="submit" class="btn btn-light text-danger"><i class="bi bi-trash me-2"></i>Delete</button>
            </form>
        </div>
    </div>
    <form class="row overflow-x-scroll">
        <fieldset id="course_code" class="col col-3">
            <legend class="h6">Code</legend>
            <div class="d-flex mb-2 gap-2">
                <input class="form-control" type="text" name="course_code_filter" id="course_code_filter"
                    placeholder="Code…" data-filter-kind="course_code">
                <button class="btn btn-light" type="button" data-resetter="course_code">
                    <div class="bi bi-arrow-counterclockwise"></div>
                </button>
            </div>
            <div class="card p-2 filter-card overflow-y-scroll">
                {% for course_code in course_codes %}
                <div class="form-check" data-kind="course_code" data-value="{{course_code}}">
                    <input class="form-check-input" type="checkbox" name="course_code" id="course_code_{{course_code}}"
                        value="{{course_code}}" data-reset="course_code" data-query>
                    <label class="form-check-label" for="course_code_{{course_code}}">{{course_code}}</label>
                </div>
                {% endfor %}
            </div>
        </fieldset>
        <fieldset id="subject" class="col col-3">
            <legend class="h6">Subject</legend>
            <div class="d-flex mb-2 gap-2">
                <input class="form-control" type="text" name="subject_filter" id="subject_filter" placeholder="Subject…"
                    data-filter-kind="subject">
                <button class="btn btn-light" type="button" data-resetter="subject">
                    <div class="bi bi-arrow-counterclockwise"></div>
                </button>
            </div>
            <div class="card p-2 filter-card overflow-y-scroll">
                {% for subject in subjects %}
                <div class="form-check" data-kind="subject" data-value="{{subject.name}}">
                    <input class="form-check-input" type="checkbox" name="subject" id="subject_{{subject.pk}}"
                        value="{{subject.pk}}" data-reset="subject" data-query>
                    <label class="form-check-label" for="subject_{{subject.pk}}">{{subject.name}}</label>
                </div>
                {% endfor %}
            </div>
        </fieldset>
        <fieldset id="professor" class="col col-3">
            <legend class="h6">Professor</legend>
            <div class="d-flex mb-2 gap-2">
                <input class="form-control" type="text" name="professor_filter" id="professor_filter"
                    placeholder="Professor…" data-filter-kind="professor">
                <button class="btn btn-light" type="button" data-resetter="professor">
                    <div class="bi bi-arrow-counterclockwise"></div>
                </button>
            </div>
            <div class="card p-2 filter-card overflow-y-scroll">
                {% for professor in professors %}
                <div class="form-check" data-kind="professor" data-value="{{professor.name}}">
                    <input class="form-check-input" type="checkbox" name="professor" id="professor_{{professor.pk}}"
                        value="{{professor.pk}}" data-reset="professor" data-query>
                    <label class="form-check-label" for="professor_{{professor.pk}}">{{professor.name}}</label>
                </div>
                {% endfor %}
            </div>
        </fieldset>
        <fieldset id="locations" class="col col-3">
            <legend class="h6">Locations</legend>
            <div class="d-flex mb-2 gap-2">
                <input class="form-control" type="text" name="locations_filter" id="locations_filter"
                    placeholder="Location…" data-filter-kind="location">
                <button class="btn btn-light" type="button" data-resetter="location">
                    <div class="bi bi-arrow-counterclockwise"></div>
                </button>
            </div>
            <div class="card p-2 filter-card overflow-y-scroll">
                {% for room in rooms %}
                <div class="form-check" data-kind="location" data-value="{{room}}">
                    <input class="form-check-input" type="checkbox" name="location" id="location_{{room.pk}}"
                        value="{{room}}" data-one="{{building.pk}}" data-reset="location" data-query>
                    <label class="form-check-label" for="location_{{room.pk}}">{{room.code}}</label>
                </div>
                {% endfor %}
            </div>
        </fieldset>
    </form>
</section>
<section class="container pt-5">
    <div class="row g-5">
        <div class="col col-6">
            <div class="h-100vh" id="calendar"></div>
        </div>
        <div class="col col-6">
            <div class="card p-1 overflow-y-scroll h-100vh">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Time</th>
                            <th scope="col">Room</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for section in sections %}
                        <tr data-attribute-course_code="{{section.course.code}}"
                            data-attribute-subject="{{section.course.subject.uuid}}" data-attribute-location="{{section.room}}"
                            data-queried>
                            <th scope="row">
                                <div>
                                    <div>{{section.subject.code}} {{section.course.code}}</div>
                                    <small class="text-muted fw-normal">{{section.course.name}}</small>
                                </div>
                            </th>
                            <td>{{section.time_display}}</td>
                            <td><a href="{{section.room.get_absolute_url}}">{{section.room.code}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total: {{sections|length}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
{{events|json_script:"events"}}
<script>
    const events = JSON.parse(document.getElementById("events").textContent)
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            initialDate: '{{semester.start|date:"c"}}',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'timeGridWeek,timeGridDay'
            },
            events: events,
        });
        calendar.render();
    });
</script>
{% endblock %}