{% extends 'chairs_app/base.html' %}
{% block title %}Courses{% endblock %}
{% block body %}
<section class="container pt-5 pb-0">
    <h1 class="mb-3">Courses</h1>
    <form class="d-flex gap-5">
        <fieldset>
            <legend class="h6">Group by</legend>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="group_by" id="group_by__none" value="none"
                    data-refresh {%if not group_by or group_by == "none" %} checked {%endif%}>
                <label class="form-check-label" for="group_by__none">None</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="group_by" id="group_by__letter" value="letter"
                    data-refresh {%if group_by == "letter" %} checked {%endif%}>
                <label class="form-check-label" for="group_by__letter">Letter</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="group_by" id="group_by__subject" value="subject"
                    data-refresh {%if group_by == "subject" %} checked {%endif%}>
                <label class="form-check-label" for="group_by__subject">Subject</label>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="combine_by" id="combine_by" value="True"
                    data-refresh {%if combine_by%} checked {%endif%}>
                <label class="form-check-label" for="combine_by">Combine Similar Courses</label>
            </div>
        </fieldset>
    </form>
</section>
<section class="container py-5">
    <div class="d-flex flex-column gap-5">
        {% for heading, similars in groups.items %}
        <details open>
            <summary class="h5 mb-2">{{heading}}</summary>
            <div class="list-group">
                {% for similars in similars.values %}
                <div class="list-group-item">
                    {% for course in similars %}
                    <div class="row g-0">
                        <div class="col col-2">
                            {% if not combine_by or forloop.first %}
                            <a href="{{course.subject.get_absolute_url}}">{{course.subject.code}}</a>
                            {{course.number}}
                            {% endif %}
                        </div>
                        <div class="col col-5">
                            {% if not combine_by or forloop.first %}
                            {{course.name}}
                            {% endif %}
                        </div>
                        <div class="col col-5">
                            <code class="small text-muted">{{course.uuid}}</code>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </details>
        {% endfor %}
    </div>
</section>
{% endblock %}