{% extends 'chairs_app/base.html' %}
{% block title %}Buildings{% endblock %}
{% block body %}
<section class="container py-5">
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <h1 class="mb-0">Buildings</h1>
        <a href="{% url 'create_building' %}" class="btn btn-primary">Create</a>
    </div>
    {% if buildings %}
    {% for building in buildings %}
    <div class="card">
        <div class="card-body">{{building}}</div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-info">No buildings are available.</div>
    {% endif %}
</section>
{% endblock %}
