<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'chairs_app/dist/css/custom.css' %}" rel="stylesheet">
    <script src="{% static 'chairs_app/dist/js/bootstrap.bundle.js' %}" defer></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light py-3">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand">Chairs</a>
            <div class="collapse navbar-collapse d-flex justify-content-between">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="{% url 'list_semesters' %}" class="nav-link">Semesters</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Locations
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'list_buildings' %}" class="dropdown-item">Buildings</a></li>
                            <li><a href="{% url 'list_rooms' %}" class="dropdown-item">Rooms</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Changes
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'list_changes' %}"
                                    class="d-flex justify-content-between align-items-center dropdown-item">All <span
                                        class="badge bg-primary">{{all_changes|length}}</span></a></li>
                            <li><a href="{% url 'list_changes' %}"
                                    class="d-flex justify-content-between align-items-center dropdown-item">Recent <span
                                        class="badge bg-primary">{{recent_changes|length}}</span></a></li>
                            <li><a href="{% url 'list_changes' %}?status=pending"
                                    class="d-flex justify-content-between align-items-center dropdown-item">Pending
                                    <span class="badge bg-warning">{{pending_changes|length}}</span></a></li>
                            <li><a href="{% url 'list_changes' %}?status=accepted"
                                    class="d-flex justify-content-between align-items-center dropdown-item">Accepted
                                    <span class="badge bg-success">{{accepted_changes|length}}</span></a></li>
                            <li><a href="{% url 'list_changes' %}?status=rejected"
                                    class="d-flex justify-content-between align-items-center dropdown-item">Rejected
                                    <span class="badge bg-danger">{{rejected_changes|length}}</span></a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    {% if user.is_authenticated %}
                    {{ user }}
                    {% else %}
                    <a href="" class="btn btn-primary btn-sm">Sign In</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>